$rose: #FF79DA;
$mauve: #9356DC;
$mint: #99e2d0;

$bg-mauve:rgba(147, 86, 220, 0.2);
$bg-dark-grey:rgb(59, 59, 59);
$bg-grey:rgb(230, 230, 230);
$bg-light-grey:rgb(241,241,241);

$shadow:3px 3px 10px rgb(155, 153, 153);